<svg width="798" height="557" viewBox="0 0 798 557" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<foreignObject x="-112" y="-112" width="1021.76" height="781"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(56px);clip-path:url(#bgblur_0_69_862_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="112">
<rect width="797.76" height="557" rx="16" fill="white" fill-opacity="0.3"/>
<rect x="0.5" y="0.5" width="796.76" height="556" rx="15.5" stroke="white" stroke-opacity="0.28"/>
</g>
<circle cx="24.4322" cy="26.5567" r="6.37358" fill="white"/>
<circle opacity="0.6" cx="43.5533" cy="26.5567" r="6.37358" fill="white"/>
<circle opacity="0.3" cx="62.6744" cy="26.5567" r="6.37358" fill="white"/>
<mask id="mask0_69_862" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="18" y="49" width="765" height="491">
<rect x="18.0586" y="49.9268" width="763.973" height="489.14" rx="10" fill="white"/>
</mask>
<g mask="url(#mask0_69_862)">
<rect x="9" y="33" width="779" height="515" fill="url(#pattern0_69_862)"/>
</g>
<defs>
<clipPath id="bgblur_0_69_862_clip_path" transform="translate(112 112)"><rect width="797.76" height="557" rx="16"/>
</clipPath><pattern id="pattern0_69_862" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#image0_69_862" transform="matrix(0.000244141 0 0 0.000369292 0 -0.00408402)"/>
</pattern>
<image id="image0_69_862" width="4096" height="2730" preserveAspectRatio="none" xlink:href="{% if image != blank%}{{ image | img_url: 'master' }}{% else %}https://placehold.co/779x515{% endif %}"/>
</defs>
</svg>
